.navigation {
  width: 42px;
  height: 100vh;
  background: #f7f7f7;
  transition: all .3s;
  overflow: hidden;
  display: flex;
}

.navigation-inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.navigation.active {
  width: 280px;
}
