.sider {
  width: 42px;
  height: 100vh;
  background: #f7f7f7;
  transition: all .3s;
  overflow: hidden;
  display: flex;
  &.active {
    width: 280px;
  }
  .inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .search-toolbar {
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #5b7a59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-menu-wrapper {
      width: 42px;
      height: 45px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }
    .search-menu-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("./images/menu.svg") no-repeat center center;
      background-size: 100%;
      cursor: pointer;
    }
    .search-input-wrapper {
      display: flex;
      flex: 1;
    }
    .search-input {
      border: none;
      background: none;
      width: 100%;
      height: 45px;
      line-height: 45px;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }
    .search-input:focus {
      outline: none;
    }
    .search-icon-wrapper {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .search-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("./images/search.svg") no-repeat center center;
        background-size: 100%;
        transition: all .3s;
      }
      &.active .search-icon {
        background: url("./images/close.svg") no-repeat center center;
        background-size: 100%;
      }
    }
  }
  .user-toolbar {
    display: flex;
    align-items: center;
    padding: 5px 5px 8px;
    .user {
      min-width: 32px;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      .user-avatar {  /* 用户头像 */
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url("./images/avatar.svg") no-repeat center center;
        background-size: 100%;
        flex-shrink: 0;
        cursor: pointer;
      }
      .user-name {  /* 用户名 */
        padding: 5px;
        color: #262626;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
        cursor: pointer;
      }
      .user-arrow-icon {  /* 小三角图标 */
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("./images/arrow-down.svg") no-repeat center center;
        background-size: 100%;
        flex-shrink: 0;
        cursor: pointer;
        transition: transform .3s;
        &.active {
          transform: rotate(180deg);
        }
      }
      .sync {
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
    .stream-counts {
      display: flex;
      flex-shrink: 1;
      align-items: center;
      overflow: hidden;
      .bell-icon, .conversation-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        cursor: pointer;
      }
      .bell-icon {  /* 小铃铛图标 */
        background: url("./images/bell.svg") no-repeat center center;
        background-size: 100%;
        margin-right: 15px;
      }
      .conversation-icon {  /* 对话图标 */
        background: url("./images/conversation.svg") no-repeat center center;
        background-size: 100%;
        margin-right: 5px;
      }
    }
  }
  .lists-toolbar {  /* 列表 */
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  
    &::-webkit-scrollbar {  
      width: 6px;
      height: 16px;
    }  
  
    &::-webkit-scrollbar-track {  
      background-color: transparent;
    }  
  
    &::-webkit-scrollbar-thumb {  
      border-radius: 3px;
      background-color: #bfbfbf;
    }
  }
  .create-toolbar {
    border-top: 1px solid #e1e1e1;
    background: #f7f7f7;
    position: relative;
    .create-toolbar-inner {
      display: flex;
      align-items: center;
      padding: 0 8px;
      padding-left: 11px;
      height: 42px;
      line-height: 42px;
      cursor: pointer;
    }
    .create-toolbar-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url("./images/add.svg") no-repeat center center;
      background-size: 100%;
      flex-shrink: 0;
    }
    .create-toolbar-title {
      color: #1296db;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      letter-spacing: 1px;
    }
  }
}
